.billet {
    height: 200px;
    overflow: hidden;
    opacity: 1;
    transition: all 1s;
    &_inner{
        padding: 30px 23px;
    }
    &_title{
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 15px;
    }
    &_description{
        p{
            font-size: 18px;
            font-weight: 500;
            color: #294C6E;
            margin: 0;
            margin-bottom: 7px;
        }
    }
}

.open{
    .billet{
        animation-duration: 1s;
        animation-name: billet;
        animation-iteration-count: 1;
        animation-direction: normal;
        opacity: 0;
        height: 0;
    }
}

@keyframes billet {
    0% {
        opacity: 1;
        height: 200px;
    }
    50% {
        opacity: 0;
        height: 200px;
    } 
    51% {
        height: 0;
    } 
    100% {
        height: 0;
    }
}
