.search{
    color: #ffffff; 
    padding: "30px 20px";
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg{
        font-size: 34px;
    }
}