.headerMenu{
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    li{
        margin: 5px 19px;
        font-size: 18px;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}