.realtor{
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    &_inner{
        display: flex;
        transition: all 0.3s;
    }
    &_info{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-name{
            font-size: 24px;
        }
        a{
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &_avatar{
        flex: 0 0 150px;
        max-width: 150px;
    }
    &_info{
        padding: 0 30px;
    }
}

.open{
    background-color: #168C9B !important;
    .realtor{
        animation-duration: 1s;
        animation-name: realtor;
        animation-iteration-count: 1;
        animation-direction: normal;
        max-height: 500px;
        max-width: 1000px;
        opacity: 1;
        &_inner{
            padding: 80px;
        }
    }
}

@keyframes realtor {
    0% {
        max-height: 0;
    }
    50% {
        max-height: 0;
    } 
    100% {
        max-height: 1000px;
    }
}
