.HeaderSlider{
    background-image: url('../../assets/img/header_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
    z-index: 0;
    &_text{
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 96px;
        text-transform: uppercase;
        line-height: 99px;
        font-weight: bold;
        transform: translate(-50%, -25%);
        white-space: nowrap;
        &--small{
            font-weight: 200;
        }
    }
}