.audioPlayer{
    position: relative;
    height: 200px;
    &_main{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    &_footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 10px;
        color: #ffffff;
        font-weight: 300;
        svg{
            font-size: 20px;
        }
        .progressBar{
            max-width: 100%;
            height: 8px;
            flex: 0 0 100%;
        }
    }
    &_info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    svg{
        color: #ffffff;
    }
    .control{
        svg{
            font-size: 40px;
        }
    }
    button{
        padding: 0;
    }
}