.homeNews{
    padding-top: 130px; 
    padding-bottom: 130px; 
    &__row{
        display: flex;
    }
    &__text{
        flex: 0 0 35%;
        max-width: 35%;
        padding-right: 80px;
    }
}
h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 25px;
}
p{
    font-weight: 500;
    color: #787878;
    font-size: 14px;
    letter-spacing: -0.5px;
    &:first-child{
        margin-top: 0;
    }
}
img{
    max-width: 100%;
    width: 100%;
}