.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 80px 70px;
    box-sizing: border-box;
    color: #fff;
    z-index: 5;
    &_menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}