.HomeSliderMenu{
    // display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: -60px;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
    z-index: 6;
    white-space: nowrap;
    text-align: right;
    &_Item{
        min-width: 200px;
        // max-width: 300px;
        min-height: 200px;
        transition: all 1s;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        white-space: normal;
        &.open{
            // max-width: 500px;
        }
    }
    .showHeaderMenu{
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
}


@keyframes showHeaderMenu {
    0% {
        max-height: 0;
    }
    50% {
        max-height: 0;
    } 
    100% {
        max-height: 500px;
    }
}
