.footer{
    text-align: center;
    background-color: #E1DFDC;
    color: #555555;
    padding-top: 100px;
    padding-bottom: 145px;
    font-weight: 300;
    a{
        color: #555555;
        text-decoration: none;
        font-size: 16px;
    }
    &_row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_contacts{
        font-size: 16px;
        margin-bottom: 17px;
    }
    &_copyright{
        font-size: 12px;
    }
    .logo{
        margin-bottom: 80px;
    }
}
