.gallery{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    &__main{
        width: calc(66.66% - 10px);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__small{
        width: calc(33.33% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            flex: 0 0 calc(50% - 10px);
            width: 100%;
        }
    }
    &--right{
        flex-direction: row-reverse;
    }
}
.tabs{
    &-item{
        position: relative;
    }
    &-button{
        position: absolute;
        top: -45px;
    }
}